version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: mydatabase-postgres
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: bienngau
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge